@import "../../app.scss";

.about{

    @include mobile{
        text-align: center;
    }
    h2{
        color: #ccd6f6;
        font-size: 40px;
        @include mobile{
            font-size: 30px;
        }
    }
    .cage{
        display: flex;
        gap: 20px;

        @include mobile{
            display: inline;
        }
        .para{
            max-width: 75%;
            color: #6d7794;

            @include mobile{
                max-width: 100%;
            }
            p{
                font-weight: 700;
                font-family: Arial, Helvetica, sans-serif;
                line-height: 25px;
                @include mobile{
                    margin-top: -9%;
                }
            }
            h3{
                color: #ccd6f6;
                @include mobile{
                    display: none;
                }
            }
            .skills{
                align-items: center;
                @include mobile{
                    gap: 25px;
                    line-height: 60px;
                }
                ul{
                    display: flex;
                    list-style-type: none;
                    color: #52d1b8;
                    align-self: center;

                    @include mobile{
                        line-height: 35px;
                        gap: 10px;
                        display: none;
                    }
                    
                    
                    span{
                        display: flex;
                        align-items: center;
                        gap: 15px;
                        font-size: 20px;
                        @include mobile{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                    img{
                        height: 40px;
                        width: 40px;
                        align-self: flex-end;
                        @include mobile{
                            height: 30px;
                            width: 30px;
                        }
                    }
                }
                
            }
        }
        .shadow-pop-br{
            width: 20%;
            height: 20%;
            transition: all 0.2s linear;
            border-radius: 10px;
            @include mobile{
                width: 30%;
                height: 30%;
            }
        }
        .shadow-pop-br:hover{
            transform: translateX(-8px) translateY(-8px);
            box-shadow: blue 0px 0px 0px 2px inset, #0a192f 10px 10px 0px 0px, #52d1b8 13px 13px 0px 0px;
        }
    }
}
.other{
    @include mobile{
        display: none;
    }
}
.about{
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: entry;
}

@keyframes fade-in {
    from { scale: .8; opacity: 0.5;}
    to { scale: 1.02; opacity: 1;}
}