@import "../../app.scss";

.gmail{
    bottom: 0;
    right: 2.3%;
    writing-mode: vertical-lr;
    position: fixed;

    @include mobile{
        display: none;
    }
    .email{  
        display: flex;
        align-items: center;
        
        a{
            text-decoration: none;
            color: #8892b0;
            letter-spacing: 3px;
            cursor: pointer;
            transition: all .3s linear;
        }
        a:hover{
            transform: scale(1.07);
            color: #52d1b8;
        }
        .vr{
            align-self: flex-end;
            height: 100px;
            border-left: 2px solid #8892b0;
            margin: 0px 10px;
        }
    }
}