html{
    scroll-behavior: smooth;
}
body{
    background-color: #0a192f;
    padding-top: 0.5%;
    padding-left: 2.3%;
    padding-right: 2.3%;
}
section{
    height: 100vh;
}
.app{
    padding-left: 10%;
    padding-right: 10%;
}
@mixin mobile {
    @media (max-width: 730px){
        @content;
    }
}

@mixin tablet {
    @media (max-width: 1024px){
        @content;
    }
}

@mixin desktop {
    @media (max-width: 1366px){
        @content;
    }
}
.scroll-watcher{
    height: 10px;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #52d1b8;
    width: 100%;
    scale: 0 1;
    transform-origin: left;
    animation: scroll-watcher linear;
    animation-timeline: scroll();
    margin-left: auto;
    margin-right: auto;

    @include mobile{
        height: 10px;
        position: fixed;
        top: 0;
        z-index: 1000;
        background-color: #52d1b8;
        width: 100%;
        scale: 0 1;
        transform-origin: left;
        animation: scroll-watcher linear;
        animation-timeline: scroll();
        margin-left: auto;
        margin-right: auto;
    }

}

@keyframes scroll-watcher {
    to { scale:  1 1;}
}

@include mobile{
    @keyframes scroll-watcher {
        to { scale:  1 1;}
    }
}