@import "../../app.scss";
.cursor{
    width: 5%;
    height: 10%;
    border-radius: 50%;
    border: 2px solid #52d1b8;
    position: fixed;
    z-index: 9999;
    size: 10%;

    @include mobile {
        display: none;
    }
}