@import "../../app.scss";

.work{

    @include mobile{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .btn{
        margin-top: 7%;
        display: flex;
        align-items: center;
        justify-content: center;
        a{
            text-decoration: none;
            text-align: center;
            padding: 20px;
            background-color: #0a192f;
            color: #52d1b8;
            border: 1px solid #52d1b8;
            transition: all 0.2s linear;
            border-radius: 10px;

            @include mobile{
                padding: 10px;
            }
        }
        a:hover{
            transform: translateX(-5px) translateY(-5px);
            box-shadow: 0px 0px 0px 0px inset, #0a192f 7px 7px 7px 7px, #52d1b8 9px 9px 5px 5px;
        }
    }
    h1{
        font-size: 60px;
        color: #ccd6f6;

        @include mobile{
            font-size: 40px;
        }
    }
    .container{
        display: flex;
        align-items: center;
        gap: 10px;
        @include mobile{
            display: grid;
        }
        img{
            width: 50%;
            height: 50%;
            @include mobile{
                width: 100%;
                height: 100%;
            }
        }
        .info{
            margin-left: -15%;
            background-color: #112240;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 0px;
            padding-bottom: 0px;
            border-radius: 5px;

            @include mobile{
                
                width: 120%;
            }
            h4{
                text-align: right;
                color: #52d1b8;
            }
            h3{
                color: #ccd6f6;
            }
            p{
                color: #8892b0;
                line-height: 25px;
            }
        }
    }
}
.shadow-pop-br{
    width: 20%;
    height: 20%;
    transition: all 0.2s linear;
    border-radius: 10px;
}
.shadow-pop-br:hover{
    transform: translateX(-8px) translateY(-8px);
}
.work{
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: entry;
}

@keyframes fade-in {
    from { scale: .8; opacity: 0.5;}
    to { scale: 1; opacity: 1;}
}
